<h1>הרשמה</h1>

<div class="form">
    <h2>:אנא הכנס את פרטיך</h2><br><br>
    
    <input class="input" placeholder="שם פרטי  " [(ngModel)]="first" /> 
    <input class="input" placeholder="שם משפחה  " [(ngModel)]="last" />  
    <input class="input" placeholder="עיר מגורים  " [(ngModel)]="city" />     
    <input class="input" placeholder="נייד  " [(ngModel)]="phone" />   
    <input class="input" placeholder="מייל  " [(ngModel)]="email" />       
    
    
    
    
    <p></p>
    <button class="add" (click)="add()"> הוסף </button>
    </div>